<mat-card class="w-100">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-56">
            <h4> Match List</h4>
            <div class="ml-auto" style="margin-right: 80%;">
                <button mat-button (click)="toggleFifaMatches()">Show Fifa
                    Matches</button>
            </div>
            <button mat-button [ngStyle]="{'font-weight': 'bold'}" (click)="openMatchFormDialog()">Add Match</button>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource$" class="text-nowrap w-100">
                <ng-container matColumnDef="idMatch">
                    <th mat-header-cell *matHeaderCellDef> Match Id </th>
                    <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.idMatch}} </td>
                </ng-container>

                <ng-container matColumnDef="dateMatch">
                    <th mat-header-cell *matHeaderCellDef> Match date </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="mb-0 fw-medium">{{ element.dateMatch }}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="heureMatch">
                    <th mat-header-cell *matHeaderCellDef> heureMatch </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="mb-0 fw-medium">{{element.heureMatch}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="equipe1">
                    <th mat-header-cell *matHeaderCellDef> Equipe 1 </th>
                    <td mat-cell *matCellDef="let match">
                        <p class="mb-0 fw-medium">{{ match.equipe1 ? match.equipe1.nomEquipe : '' }}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="equipe2">
                    <th mat-header-cell *matHeaderCellDef> Equipe 2 </th>
                    <td mat-cell *matCellDef="let match">
                        <p class="mb-0 fw-medium">{{ match.equipe2 ? match.equipe2.nomEquipe : '' }}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="player1">
                    <th mat-header-cell *matHeaderCellDef> Joueur 1 </th>
                    <td mat-cell *matCellDef="let match">
                        <p class="mb-0 fw-medium">
                            {{ match.player1.nomUser }}
                        </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="player2">
                    <th mat-header-cell *matHeaderCellDef> Joueur 2 </th>
                    <td mat-cell *matCellDef="let match">
                        <p class="mb-0 fw-medium">
                            {{ match.player2.nomUser }}
                        </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'text-align': 'center' }"> Actions </th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="{ 'text-align': 'center' }">
                        <button mat-icon-button matTooltip="Edit">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Delete" (click)="deleteMatch(element.idMatch)">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>