<div class="card">
    <div class="card-body">
        <h4 class="mb-32">Tournoi Form</h4>
        <form [formGroup]="tournoiForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="nameTournoi" placeholder="Enter Tournoi Name">
            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" placeholder="Select Type">
                    <mat-option value="FootBall">FootBall</mat-option>
                    <mat-option value="BabyFoot">BabyFoot</mat-option>
                    <mat-option value="BasketBall">BasketBall</mat-option>
                    <mat-option value="Fifa">Fifa</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput formControlName="dateDebut" type="date" placeholder="Select Start Date">
            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput formControlName="dateFin" type="date" placeholder="Select End Date">
            </mat-form-field>

            <button mat-button [ngStyle]="{'font-weight': 'bold'}" (click)="onSubmit()">
                {{ operation === 'add' ? 'Add Tournoi' : 'Update Tournoi' }}
            </button>
        </form>
    </div>
</div>