<mat-card class="w-100">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-56">
            <h4>Tournament List</h4>
            <div class="ml-auto" style="margin-right: 80%;"></div>
            <button mat-button class="btn btn-info fw-normal" (click)="openEquipeListPopup()">Add Tournoi</button>
        </div>

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource$" class="text-nowrap w-100">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Tournament Id </th>
                    <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="nameTournoi">
                    <th mat-header-cell *matHeaderCellDef> Tournament Name </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="mb-0 fw-medium">{{ element.nameTournoi }}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="mb-0 fw-medium">{{element.type}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dateDebut">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="mb-0 fw-medium">{{element.dateDebut | date}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dateFin">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="mb-0 fw-medium">{{element.dateFin | date}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'text-align': 'center' }"> Actions </th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="{ 'text-align': 'center' }">
                        <button mat-icon-button matTooltip="Edit">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Delete">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Add" (click)="openTournoiFormDialog(element.id)">
                            <mat-icon aria-label="Add">add</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>