<div class="card">
    <div class="card-body">
        <h4 class="mb-32">Equipe Form</h4>
        <form [formGroup]="equipeForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Equipe Name</mat-label>
                <input matInput formControlName="nomEquipe" type="text" placeholder="Enter Name">
            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" placeholder="Select Type">
                    <mat-option value="A1">A1</mat-option>
                    <mat-option value="A2">A2</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-button [ngStyle]="{'font-weight': 'bold'}" (click)="onSubmit()">
                {{ operation === 'add' ? 'Add Equipe' : 'Update Equipe' }}
            </button>

        </form>

    </div>
</div>